*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
header {
    height: 10vh;
    background-color: #D1D2D4;
    font-size: 2rpm;
}
footer {
    height: 10vh;
    background-color: #D1D2D4;
    font-size: 2rpm;
}
.parent {
    display: flex;
    height: 100%;
    margin: 2rem 0;
    width: 100%;
}
.main-container {
    width: 75%;
    height:100%;
    display: flex;
    flex-direction: row-reverse;
}
.content-a{
  background-color: rgb(7, 171, 67);
  height:100%;
  width: 67%;
  
}
.content-b {
  background-color: rgb(148, 234, 19);
  height: 100%;
  width: 33%;
}
.content-c {
  background-color: rgb(239, 247, 5);
  height: 100%;
  width: 25%;
}

@media (min-width: 477px) and (max-width: 768px) {
    .parent{
        flex-direction: column;
        align-items: end;
    }
    .main-container{
        width: 100vw;
        height: 60%;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .content-a{
        width: 100%;
        height: 100%;
    }
    .content-b{
        height: 66.7%;
        width: 50%;
    }
    .content-c{
        width: 50%;
        height: 40%;
    } 
}

@media (max-width: 476px) {
    .parent {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .main-container{
        display: flex;
        flex-direction: column;
        height: 75%;
        width:100% 
    }
    .content-a{
        height: 67%;
        width: 100%;
    }
    .content-b{
        height: 33%;
        width:100%
    }
    .content-c{
        height: 25%;
        width:100%
    }
}
  