*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
header {
    height: 10vh;
    background-color: #D1D2D4;
    font-size: 2rem;
}
footer {
    height: 10vh;
    background-color: #D1D2D4;
    font-size: 2rem;
}
.parent {
    display: flex;
    height: 100%;
    margin: 2rem 0;
    width: 100%;
}
.main-container {
    width: 100%;
}

.content-a{
  background-color: rgb(222, 23, 23);
  height:50%;
  
}
.content-b {
  background-color: rgb(232, 128, 24);
  height: 50%;
}
.content-c {
  background-color: rgb(239, 247, 5);
  width: 25rem;
}



@media (max-width: 476px) {
    .parent {
        flex-direction: column;
        height: 100%;
    }
    .content{
        height: 100%;
    }
    .main-container {
        height: 67%;
    }
    .content-a, .content-b {
        height: 50%;
    }
    .content-c {
        height: 33%;
        width: 100%;
    }
}